NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_APP_ENV=development

# Admin
ADMIN_PASSWORD_HASH=HASH_BCRYPT_ICI
SESSION_SECRET=SECRET_64_BYTES_HEX_ICI

# Stripe
STRIPE_SECRET_KEY=sk_test_XXXXX
NEXT_PUBLIC_STRIPE_KEY=pk_test_XXXXX
STRIPE_WEBHOOK_SECRET=whsec_XXXXX

# Upstash Redis
UPSTASH_REDIS_REST_URL=https://XXXXX.upstash.io
UPSTASH_REDIS_REST_TOKEN=XXXXX

# Analytics
NEXT_PUBLIC_GA_ID=G-XXXXX

# Email
RESEND_API_KEY=re_XXXXX
KITTY_EMAIL=contact@kitty-octa.fr

# Sanity CMS
NEXT_PUBLIC_SANITY_PROJECT_ID=XXXXX
NEXT_PUBLIC_SANITY_DATASET=staging
SANITY_API_TOKEN=XXXXX

